@model UIProyecto2v2.Models.Tiquete
@using UIProyecto2v2.Models

@{
    ViewData["Title"] = "Create";
}

@{
    List<string> mensajes;
    List<Parqueo> parqueos;
    if (ViewBag.Parqueos != null)
    {
        parqueos = ViewBag.Parqueos;
    }
    else
    {
        parqueos = new List<Parqueo>();
    }
    if (ViewBag.Mensajes != null){
        mensajes = ViewBag.Mensajes;
    }
    else
    {
        mensajes = new List<string>();
    }


}


<h1>Create</h1>
@foreach(string mensaje in mensajes)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @mensaje
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<h4>Tiquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="ParqueoID" class="control-label"></label>
                <select asp-for="ParqueoID" class="form-control" id="parqueoId">
                    @foreach(Parqueo p in parqueos){
                        <option value=@p.Id>@p.Nombre; Abre: @p.HoraApertura.ToString("HH:mm"); Cierra: @p.HoraCierre.ToString("HH:mm")</option>

                    }
                   
                </select>
                <span asp-validation-for="ParqueoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingreso" class="control-label"></label>
                <input asp-for="Ingreso" type="time" class="form-control"/>
                <span asp-validation-for="Ingreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
