@model UIProyecto2v2.Models.Tiquete

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tiquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TiqueteID" />
            <div class="form-group">
                <label asp-for="ParqueoID" class="control-label"></label>
                <input asp-for="ParqueoID" class="form-control" />
                <span asp-validation-for="ParqueoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingreso" class="control-label"></label>
                <input asp-for="Ingreso" class="form-control" />
                <span asp-validation-for="Ingreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salida" class="control-label"></label>
                <input asp-for="Salida" class="form-control" />
                <span asp-validation-for="Salida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarifaHora" class="control-label"></label>
                <input asp-for="TarifaHora" class="form-control" />
                <span asp-validation-for="TarifaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarifaMediaHora" class="control-label"></label>
                <input asp-for="TarifaMediaHora" class="form-control" />
                <span asp-validation-for="TarifaMediaHora" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnUso" /> @Html.DisplayNameFor(model => model.EnUso)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
